<a href="https://colab.research.google.com/github/athulmathew750/internship_tasks1/blob/main/cleaning_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [29]:
import pandas as pd

# The original CSV file might be tab-separated, causing incorrect parsing.
# Adding sep='\t' to correctly read the file.
df = pd.read_csv("/content/drive/MyDrive/Internship/customer_personality_analysis.csv", sep='\t')

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df['dt_customer'] = pd.to_datetime(df['dt_customer'], format='%d-%m-%Y', errors='coerce')

df = df.fillna(df.median(numeric_only=True))   # numeric
df = df.fillna(df.mode().iloc[0])              # categorical

df['age'] = 2024 - df['year_birth']
df = df[(df['age'] >= 18) & (df['age'] <= 100)]
df = df.drop_duplicates()

df['education'] = df['education'].astype('category')
df['marital_status'] = df['marital_status'].astype('category')

numeric_cols = [
    'id', 'year_birth', 'kidhome', 'teenhome', 'recency',
    'mntwines', 'mntfruits', 'mntmeatproducts', 'mntfishproducts',
    'mntsweetproducts', 'mntgoldprods',
    'numdealspurchases', 'numwebpurchases', 'numcatalogpurchases',
    'numstorepurchases', 'numwebvisitsmonth',
    'acceptedcmp1','acceptedcmp2','acceptedcmp3','acceptedcmp4','acceptedcmp5',
    'complain','z_costcontact','z_revenue','response'
]

df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

print(df.info())
print(df.head())

df.to_csv("/content/drive/MyDrive/Internship/cleaned_customer_personality_analysis.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 2237 entries, 0 to 2239
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2237 non-null   int64
 1   year_birth           2237 non-null   int64
 2   education            2237 non-null   category
 3   marital_status       2237 non-null   category
 4   income               2237 non-null   float64
 5   kidhome              2237 non-null   int64
 6   teenhome             2237 non-null   int64
 7   dt_customer          2237 non-null   datetime64[ns]
 8   recency              2237 non-null   int64
 9   mntwines             2237 non-null   int64
 10  mntfruits            2237 non-null   int64
 11  mntmeatproducts      2237 non-null   int64
 12  mntfishproducts      2237 non-null   int64
 13  mntsweetproducts     2237 non-null   int64
 14  mntgoldprods         2237 non-null   int64
 15  numdealspurchases    2237 non-null   int64
 16  numwebpurchases      2237 non-null   int64
 17  numcatalogpurchases  2237 non-null   int64
 18  numstorepurchases    2237 non-null   int64
 19  numwebvisitsmonth    2237 non-null   int64
 20  acceptedcmp3         2237 non-null   int64
 21  acceptedcmp4         2237 non-null   int64
 22  acceptedcmp5         2237 non-null   int64
 23  acceptedcmp1         2237 non-null   int64
 24  acceptedcmp2         2237 non-null   int64
 25  complain             2237 non-null   int64
 26  z_costcontact        2237 non-null   int64
 27  z_revenue            2237 non-null   int64
 28  response             2237 non-null   int64
 29  age                  2237 non-null   int64
dtypes: category(2), datetime64[ns](1), float64(1), int64(26)
memory usage: 511.8 KB
None
     id  year_birth   education marital_status   income  kidhome  teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  dt_customer  recency  mntwines  ...  acceptedcmp3  acceptedcmp4  \
0  2012-09-04       58       635  ...             0             0
1  2014-03-08       38        11  ...             0             0
2  2013-08-21       26       426  ...             0             0
3  2014-02-10       26        11  ...             0             0
4  2014-01-19       94       173  ...             0             0

   acceptedcmp5  acceptedcmp1  acceptedcmp2  complain  z_costcontact  \
0             0             0             0         0              3
1             0             0             0         0              3
2             0             0             0         0              3
3             0             0             0         0              3
4             0             0             0         0              3

   z_revenue  response  age
0         11         1   67
1         11         0   70
2         11         0   59
3         11         0   40
4         11         0   43

[5 rows x 30 columns]